{% load i18n %}
{% verbatim %}
<script id="topics_list_item" type="text/x-handlebars-template"> 
    <li class="cursor-pointer hover-white"><a onclick="app.changetab(this)" href="#topic-{{id}}"># {{name}}</a></li>
</script>
<script id="topics_feeds_tabs_item" type="text/x-handlebars-template">
  <div class="tab-pane" id="topic-{{id}}">
    <div class="topics_feeds_header pd-15">
      <span class="topic_name">
      #{{name}}
      </span>
    </div>
    <div class="topics_feeds_messages" id="topic-{{id}}-messages-wrapper">
       <div id="topic-{{id}}-premessage" class="premessage"></div>
       <div id="topic-{{id}}-messages">
       </div> 
    </div>
    <div class="inputform pd-15">
      <input id="input_text_{{id}}" onkeydown="app.checkinputtext(this, event, {{id}})" class="form-control text-enter-field-js" type="text">
    </div>
  </div>
</script>
<script id="message_content" type="text/x-handlebars-template">
<div class="col-xs-12 pd-l-20 pt-5">
<div><b>{{author.username}}</b> <span class="msg-ts">{{ moment created_at format="DD/MM/YY HH:mm:ss" }}</span></div>
<div>{{text}}</div>
</div>
</script>
{% endverbatim %}
