<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="/static/css/style.css" rel="stylesheet">
<style>
.fh{
  height:100vh;
}
.menuleft{
  background:#3e313c;
  color: #ab9ba9;
}
.inputform{
  height: 80px;
  bottom:0;
  border-top:2px solid #E0E0E0;;
  position:absolute;
  width:100%;
}
</style>
</head>
<body>
<div>
  <div class="col-md-2 fh menuleft">
    Channels
    <div id="topics_holder"></div>
  </div>
  <div class="col-md-10 fh pd-0">
    <div class="inputform">
    </div>
  </div>
</div>
<script src="/static/js/bundle.js"></script>
</body>
</html>
