asgiref==0.14.0
autobahn==0.16.0
channels==0.17.2
daphne==0.15.0
Django==2.2.24
django-extensions==1.7.4
django-tastypie==0.13.3
pep8==1.7.0
python-dateutil==2.5.3
python-mimeparse==1.5.2
six==1.10.0
Twisted==16.4.1
txaio==2.5.1
wheel==0.24.0
zope.interface==4.3.2
