@for $i from 0 through 40 {
  .pd-#{5 * $i} { padding: 5px * $i; }
  .pd-t-#{5 * $i} { padding-top: 5px * $i; }
  .pd-b-#{5 * $i} { padding-bottom: 5px * $i; }
  .pd-l-#{5 * $i} { padding-left: 5px * $i; }
  .pd-r-#{5 * $i} { padding-right: 5px * $i; }
  .mg-#{5 * $i} { margin: 5px * $i; }
  .mg-t-#{5 * $i} { margin-top: 5px * $i; }
  .mg-b-#{5 * $i} { margin-bottom: 5px * $i; }
  .mg-l-#{5 * $i} { margin-left: 5px * $i; }
  .mg-r-#{5 * $i} { margin-right: 5px * $i; }
}
