@import 'paddings_margins';

.fh{
  height:100vh;
}
.menuleft{
  background:#3e313c;
  color: #ab9ba9;
}
.inputform{
  height: 80px;
  bottom:0;
  border-top:2px solid #E0E0E0;;
  position:absolute;
  width:100%;
}
.cursor-pointer{
  cursor: pointer;
}
.hover-white:hover{
  color: #fff;
}
.topics_feeds_header{
  border-bottom: 1px solid #eee;
}
.topic_name{
  color: #2c2d30;
  font-weight: 900;
  font-size: 16px;
}

